<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.translate key="templates_email_adminCheckFinished.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : backendUser.realName}" />\n\n
        
        <postmaster:email.translate key="templates_email_adminCheckFinished.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" />\n\n
        
        {checkResult.webcheck.name}\n\n
        
        <postmaster:email.translate key="templates_email_adminCheckFinished.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck"  />
    </postmaster:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.translate key="templates_email_adminCheckFinished.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : backendUser.realName}" /></h1>
        <p><postmaster:email.translate key="templates_email_adminCheckFinished.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck"  /></p>
        <p><em>{checkResult.webcheck.name}</em></p>
        <p><postmaster:email.translate key="templates_email_adminCheckFinished.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck"  /></p>
    </f:section>
</html>