{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<vh:frontend.translate key="templates_email_adminCheckFinished.headline" languageKey="{backendUser.lang}" extensionName="rkwWebcheck" arguments="{0 : backendUser.realName}" />

<vh:frontend.translate key="templates_email_adminCheckFinished.text1" languageKey="{backendUser.lang}" extensionName="rkwWebcheck" />

    {checkResult.webcheck.name}

<vh:frontend.translate key="templates_email_adminCheckFinished.text2" languageKey="{backendUser.lang}" extensionName="rkwWebcheck"  />
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1><vh:frontend.translate key="templates_email_adminCheckFinished.headline" languageKey="{backendUser.lang}" extensionName="rkwWebcheck" arguments="{0 : backendUser.realName}" /></h1>
    <p><vh:frontend.translate key="templates_email_adminCheckFinished.text1" languageKey="{backendUser.lang}" extensionName="rkwWebcheck"  /></p>
    <p><em>{checkResult.webcheck.name}</em></p>
    <p><vh:frontend.translate key="templates_email_adminCheckFinished.text2" languageKey="{backendUser.lang}" extensionName="rkwWebcheck"  /></p>
</f:section>