<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />
    
    
    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.translate key="templates_email_shareCheck.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" />\n\n
        
        <f:if condition="{anonymous}"><f:then><postmaster:email.translate key="templates_email_shareCheck.text1Anonymous" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : checkResult.webcheck.name}" /></f:then><f:else><postmaster:email.translate key="templates_email_shareCheck.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName, 2 : checkResult.webcheck.name}" />\n</f:else></f:if>
        <postmaster:email.translate key="templates_email_shareCheck.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" />\n\n
        
        <postmaster:email.uri.action action="showSharedCheckResult" controller="Webcheck" extensionName="rkwWebcheck" pluginName="sharedCheck" absolute="true" pageUid="{pageUid}" additionalParams="{tx_rkwwebcheck_sharedcheck: {checkResult: checkResult, hash: hash}}"/>
    </postmaster:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
    
        <h1>
            <postmaster:email.translate key="templates_email_shareCheck.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" />
        </h1>
    
        <p>
            <f:if condition="{anonymous}">
                <f:then>
                    <postmaster:email.translate key="templates_email_shareCheck.text1Anonymous" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : checkResult.webcheck.name}" />
                </f:then>
                <f:else>
                    <postmaster:email.translate key="templates_email_shareCheck.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName, 2 : checkResult.webcheck.name}" />
                </f:else>
            </f:if>
    
        </p>
        <p><postmaster:email.translate key="templates_email_shareCheck.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" /></p>
        <p>
            <a href="<postmaster:email.uri.action action='showSharedCheckResult' controller='Webcheck' extensionName='rkwWebcheck' pluginName='sharedCheck' absolute='true' pageUid='{pageUid}' additionalParams='{tx_rkwwebcheck_sharedcheck: {checkResult: checkResult, hash: hash}}'/>">
                <postmaster:email.translate key="templates_email_shareCheck.linkLabel" languageKey="{queueRecipient.languageCode}" extensionName="rkwWebcheck" />
            </a>
        </p>
    
    </f:section>

</html>