<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{settings.sharedCheckPid}">
        <f:if condition="{checkResult.feUser.txRkwregistrationIsAnonymous} == 0">
            <p>&nbsp;</p>

            <div class="share-box">

                <f:render partial="FlashMessages" arguments="{_all}" />

                <div class="share-box__cnt">
                    <h4>{f:translate(key: 'partials_webcheck_showCheckResult_share.sendResultAsMail')}</h4>
                </div>
                <f:form action="shareCheckResult" enctype="multipart/form-data" name="checkResult" object="{checkResult}" class="share-box__form">
                    <f:form.textfield class="input" name="emails" type="text" placeholder="{f:translate(key: 'partials_webcheck_showCheckResult_share.insertEmail')}" />
                    <f:form.submit value="{f:translate(key: 'partials_webcheck_showCheckResult_share.sendMail')}" name="share" class="button" />
                </f:form>
            </div>
        </f:if>
    </f:if>
</html>