<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwWebcheck="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="webcheck-accordion flex-container contentbox contentbox--gray no-padding">
        <div class="webcheck-accordion__header flex-basis-12">{f:translate(key: 'partials_webcheck_showCheckResult_topics.partialResults')}</div>

        <div class="accordion accordion-controls flex-basis-12">
            <f:for each="{checkResult.results}" as="topicResult" iteration="iter">
                <div class="webcheck-accordion__item flex-basis-12">
                    <button {f:if(condition:'{rkwWebcheck:ratingTopicText(topicResult:topicResult)}', then: 'id="accordion-item-{iter.cycle}"')} class="webcheck-accordion__button accordion__button" {f:if(condition:'{rkwWebcheck:ratingTopicText(topicResult:topicResult)}', then: 'aria-expanded="false" aria-controls="accordion-content-{iter.cycle}"')}>
                        <span class="webcheck-accordion__title">{topicResult.topic.name}</span>
                        <span class="webcheck-accordion__result value--<rkwWebcheck:ratingCss percentage='{topicResult.percentage}' />"><f:format.number decimals="0" decimalSeparator="." >{topicResult.percentage}</f:format.number>%</span>
                    </button>

                    <f:if condition="{rkwWebcheck:ratingTopicText(topicResult:'{topicResult}')}">
                        <div id="accordion-content-{iter.cycle}" class="webcheck-accordion__item-content">
                            <div class="webcheck-accordion__item-inner">
                                <p><rkwWebcheck:ratingTopicText topicResult='{topicResult}' /></p>
                            </div>
                        </div>
                    </f:if>
                </div>
            </f:for>
        </div>
    </div>
</html>