<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="main">
        <f:comment><h1>{check.name -> f:format.raw()}</h1></f:comment>
        {check.description -> f:format.html()}

        <f:render partial="FlashMessages" arguments="{_all}" />

        <div class="flex-container">
            <f:form action="checkStart" enctype="multipart/form-data" section="tx-rkwwebcheck-main" class="flex flex-basis-8 full-width-medium space-between">

                <div class="form__field flex space-start full-width-narrow">
                    <button type="submit" class="btn btn--primary">
                        <span>{f:translate(key: 'templates_webcheck_checkInit.startCheck')}</span>
                    </button>
                </div>

            </f:form>
        </div>


    </f:section>

</html>