<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="main">
        <f:comment><h1>{check.name -> f:format.raw()}</h1></f:comment>
        <div>
            {check.description -> f:format.html()}
        </div>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:form action="checkStart" enctype="multipart/form-data">

            <f:if condition="{frontendUser.txRkwregistrationIsAnonymous}">
                <f:then>
                    <div class="form__field">
                        <f:form.checkbox
                            class="checkbox"
                            id="terms"
                            name="terms"
                            value="1"
                        />
                        <label for="terms" class="checkbox-label">
                            {f:translate(key: 'templates_webcheck_checkInit.iAcceptThe')} <f:link.page pageUid="{settings.termsPid}" target="_blank">{f:translate(key: 'templates_webcheck_checkInit.terms')}</f:link.page>
                        </label>
                    </div>
                </f:then>
                <f:else>
                    <f:form.hidden name="terms" value="1" />
                </f:else>
            </f:if>

            <p>
                <button type="submit" class="btn btn--primary">
                    <span>{f:translate(key: 'templates_webcheck_checkInit.startCheck')}</span>
                </button>
            </p>

        </f:form>


    </f:section>

</html>