<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

    <div class="contentbox__career-header flex career-info" id="check-head">

        <h2 class="h2 h2--small flex-basis-9 h2--infoflag-space">{topicResult.topic.name}</h2>

        <div class="info-flag info-flag--right flex-basis-3">
            <span class="info-flag__progress">{f:translate(key: 'templates_webcheck_showTopicResult.topic')} {topicPosition}/{maxTopics}</span>
        </div>
    </div>

    <p>{f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro')} <em>"{topicResult.topic.name}"</em> {f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro2')}
    </p>

    <h2>{f:translate(key: 'templates_webcheck_showTopicResult.partialResultTopic')}</h2>

    <div class="careercheck__content">
        <div class="value-box">
            <span class="value <rkw:ratingCss percentage='{topicResult.percentage}' />"><f:format.number decimals="0" decimalSeparator="." >{topicResult.percentage}</f:format.number>%</span>
        </div>
        <f:if condition="<rkw:ratingTopicText topicResult='{topicResult}' />">
            <div class="value-text">
                <p><rkw:ratingTopicText topicResult='{topicResult}' /></p>
            </div>
        </f:if>
        <div class="clear"></div>
    </div>

    <f:render partial="Webcheck/ShowTopicResult/Pagination" arguments="{_all}"/>

    </f:section>

</html>