<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwWebcheck="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

    <div class="contentbox__webcheck-header flex webcheck-intro" id="tx-rkwwebcheck-main">
        <h2 class="h2 flex-basis-9 h2--infoflag-space">{topicResult.topic.name}</h2>
        <div class="info-flag info-flag--right flex-basis-3">
            <span class="info-flag__progress">{f:translate(key: 'templates_webcheck_showTopicResult.topic')} {topicPosition}/{maxTopics}</span>
        </div>
    </div>

    <p>
        {f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro')} <em>"{topicResult.topic.name}"</em> {f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro2')}
    </p>

    <h3>{f:translate(key: 'templates_webcheck_showTopicResult.partialResultTopic')}</h3>

    <div class="webcheck-description flex space-between">
        <div class="info-flag info-flag--small-height info-flag--left flex-basis-2">
            <span class="info-flag__text info-flag__text--<rkwWebcheck:ratingCss percentage='{topicResult.percentage}' />"><f:format.number decimals="0" decimalSeparator="." >{topicResult.percentage}</f:format.number>%</span>
        </div>
        <f:if condition="<rkwWebcheck:ratingTopicText topicResult='{topicResult}' />">
            <div class="description-text flex-basis-10">
                <p><rkwWebcheck:ratingTopicText topicResult='{topicResult}' /></p>
            </div>
        </f:if>
    </div>

    <f:render partial="Webcheck/ShowTopicResult/Pagination" arguments="{_all}"/>

    </f:section>

</html>