{namespace rkw=RKW\RkwWebcheck\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

    <div class="careercheck__task" id="check-head"><span>{f:translate(key: 'templates_webcheck_showTopicResult.topic')} {topicPosition}/{maxTopics}</span></div>
    <h1>{topicResult.topic.name}</h1>
    <p>{f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro')} <em>"{topicResult.topic.name}"</em> {f:translate(key: 'templates_webcheck_showTopicResult.finishedIntro2')}
    </p>

    <h2>{f:translate(key: 'templates_webcheck_showTopicResult.partialResultTopic')}</h2>

    <div class="careercheck__content">
        <div class="value-box">
            <span class="value {rkw:ratingCss(percentage: '{topicResult.percentage}')}"><f:format.number decimals="0" decimalSeparator="." >{topicResult.percentage}</f:format.number>%</span>
        </div>
        <f:if condition="{rkw:ratingTopicText(topicResult: '{topicResult}')}">
            <div class="value-text">
                <p>{rkw:ratingTopicText(topicResult: '{topicResult}')}</p>
            </div>
        </f:if>
        <div class="clear"></div>
    </div>

    <f:render partial="Webcheck/ShowTopicResult/Pagination" arguments="{_all}"/>

    </f:section>

</html>