{namespace rkw=RKW\RkwWebcheck\ViewHelpers}

<!-- show details -->
<div class="details">
	<h4><b>{f:translate(key: 'templates_backend_result.benchmarkHeadline')}</b></h4>
	<ul>
		<li>
			{f:translate(key: 'templates_backend_result.topics')}:
			<b><f:count>{webcheck.topics}</f:count></b>
		</li>
		<li>
			{f:translate(key: 'templates_backend_result.benchmarkHeadline')}:
			<b>
				<f:format.number decimals="2" decimalSeparator=",">{benchmark.averageSum}</f:format.number> / {benchmark.maxSum} {f:translate(key: 'templates_backend_result.points')}
				({benchmark.percent}%)
			</b>
		</li>
		<li>
			{f:translate(key: 'templates_backend_result.countCompletedChecks')}:
			<b>{benchmark.numChecks}</b>
		</li>
	</ul>

	<h4><b>{f:translate(key: 'templates_backend_result.averagePointsPerTopic')}</b></h4>
	<ol>
		<f:for each="{webcheck.topics}" as="topic">
			<li>{topic.name}:
                <b>

                    <rkw:averageSumOfWebcheckResults resultList="{webcheckResultList}" topic="{topic}" /> / <rkw:getMaxPointsOfTopic questions="{topic.questions}" />

                    {f:translate(key: 'templates_backend_result.points')}
                    (<rkw:averagePercentageOfWebcheckResults averagePoints="<rkw:averageSumOfWebcheckResults resultList='{webcheckResultList}' topic='{topic}' />" maxPoints="<rkw:getMaxPointsOfTopic questions='{topic.questions}' />" />%)
                </b>
            </li>
		</f:for>
	</ol>
</div>

<!-- show google visualization -->
<rkw:visualization.overallResultOfWebcheck benchmarkPercent="{benchmark.percent}" />
<div id="chart_div" style="width: 900px; height: 500px;"></div>