<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwWebcheck="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:section name="Selection">
        <div class="webcheck__questions mt-1">

            <f:if condition="{questionResult}">
                <f:then>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value1}">
                        <f:then>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer1"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value1}"
                                    checked="checked"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-1'}"
                                />
                                <label class="radio-label radio-label--webcheck answer" for="answer1">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer1"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value1}"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-1'}"
                                />
                                <label class="radio-label radio-label--webcheck answer" for="answer1">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value2}">
                        <f:then>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer2"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value2}"
                                    checked="checked"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-2'}"
                                />

                                <label class="radio-label radio-label--webcheck answer" for="answer2">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>

                        </f:then>
                        <f:else>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer2"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value2}"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-2'}"
                                />
                                <label class="radio-label radio-label--webcheck answer" for="answer2">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value3}">
                        <f:then>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer3"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value3}"
                                    checked="checked"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-3'}"
                                />
                                <label class="radio-label radio-label--webcheck answer" for="answer3">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>

                        </f:then>
                        <f:else>
                            <div class="form__field form__field--webcheck">
                                <f:form.radio
                                    id="answer3"
                                    class="radio js-webcheck-tip"
                                    property="sum"
                                    value="{questionResult.question.value3}"
                                    additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-3'}"
                                />

                                <label class="radio-label radio-label--webcheck answer" for="answer3">
                                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkwWebcheck:glossary>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                </f:then>

                <f:else>

                    <div class="form__field form__field--webcheck">
                        <f:form.radio
                            id="answer1"
                            class="radio js-webcheck-tip"
                            property="sum"
                            value="{questionResult.question.value1}"
                            checked="checked"
                            additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-1'}"
                        />
                        <label class="radio-label radio-label--webcheck answer" for="answer1">
                            <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkwWebcheck:glossary>
                        </label>
                    </div>


                    <div class="radio-label radio-label--webcheck answer">
                        <f:form.radio
                            id="answer2"
                            class="radio js-webcheck-tip"
                            property="sum"
                            name="sum"
                            value="{questionResult.question.value2}"
                            additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-2'}"
                        />
                        <label class="radio-label radio-label--webcheck answer" for="answer2">
                            <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkwWebcheck:glossary>
                        </label>
                    </div>

                    <div class="radio-label radio-label--webcheck answer">
                        <f:form.radio
                            id="answer2"
                            class="radio js-webcheck-tip"
                            property="sum"
                            name="sum"
                            value="{questionResult.question.value3}"
                            additionalAttributes="{data-tip-id : 'tx-rkwwebcheck-tip-3'}"
                        />
                        <label class="radio-label radio-label--webcheck answer" for="answer3">
                            <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkwWebcheck:glossary>
                        </label>
                    </div>

                </f:else>
            </f:if>
        </div>
    </f:section>



    <f:section name="Tooltips">
        <div class="tip-box mt-2">
            <div class="tip-box__header">
                <span class="tip-box__icon"></span>
                <p class="tip-box__headline text-uppercase webcheck-small-headline">{f:translate(key: 'partials_webcheck_showQuestionResult_answers.tip')}</p>
            </div>
            <div class="tip-box__content">
                <p class="tip-box__text" id="tx-rkwwebcheck-tip-1">
                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.result1 -> f:format.raw()}</rkwWebcheck:glossary>
                </p>
                <p class="tip-box__text" id="tx-rkwwebcheck-tip-2">
                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.result2 -> f:format.raw()}</rkwWebcheck:glossary>
                </p>
                <p class="tip-box__text" id="tx-rkwwebcheck-tip-3">
                    <rkwWebcheck:glossary glossaryList="{glossaryList}">{questionResult.question.result3 -> f:format.raw()}</rkwWebcheck:glossary>
                </p>
            </div>
        </div>

    </f:section>

</html>