<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:section name="Selection">
        <div class="careercheck__questions mt-1">

            <f:if condition="{questionResult}">
                <f:then>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value1}">
                        <f:then>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer1"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value1}"
                                    checked="checked"
                                    additionalAttributes="{data-id : 'answer1'}"
                                />
                                <label class="radio-label radio-label--career answer" for="answer1">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer1"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value1}"
                                    additionalAttributes="{data-id : 'answer1'}"
                                />
                                <label class="radio-label radio-label--career answer" for="answer1">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value2}">
                        <f:then>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer2"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value2}"
                                    checked="checked"
                                    additionalAttributes="{data-id : 'answer2'}"
                                />

                                <label class="radio-label radio-label--career answer" for="answer2">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>

                        </f:then>
                        <f:else>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer2"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value2}"
                                    additionalAttributes="{data-id : 'answer2'}"
                                />
                                <label class="radio-label radio-label--career answer" for="answer2">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                    <f:if condition="{questionResult.sum} == {questionResult.question.value3}">
                        <f:then>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer3"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value3}"
                                    checked="checked"
                                    additionalAttributes="{data-id : 'answer3'}"
                                />
                                <label class="radio-label radio-label--career answer" for="answer3">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>

                        </f:then>
                        <f:else>
                            <div class="form__field form__field--career">
                                <f:form.radio
                                    id="answer3"
                                    class="radio"
                                    property="sum"
                                    value="{questionResult.question.value3}"
                                    additionalAttributes="{data-id : 'answer3'}"
                                />

                                <label class="radio-label radio-label--career answer" for="answer3">
                                    <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkw:glossary>

                                    <f:comment>
                                        <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                                    </f:comment>
                                </label>
                            </div>

                        </f:else>
                    </f:if>
                </f:then>

                <f:else>

                    <div class="form__field form__field--career">
                        <f:form.radio
                            id="answer1"
                            class="radio"
                            property="sum"
                            value="{questionResult.question.value1}"
                            checked="checked"
                            additionalAttributes="{data-id : 'answer1'}"
                        />
                        <label class="radio-label radio-label--career answer" for="answer1">
                            <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer1 -> f:format.raw()}</rkw:glossary>
                        </label>

                        <f:comment>
                            <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                        </f:comment>
                    </div>


                    <div class="radio-label radio-label--career answer">
                        <f:form.radio
                            id="answer2"
                            class="radio"
                            property="sum"
                            name="sum"
                            value="{questionResult.question.value2}"
                            additionalAttributes="{data-id : 'answer2'}"
                        />
                        <label class="radio-label radio-label--career answer" for="answer2">
                            <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer2 -> f:format.raw()}</rkw:glossary>
                            <f:comment>
                                <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                            </f:comment>
                        </label>
                    </div>

                    <div class="radio-label radio-label--career answer">
                        <f:form.radio
                            id="answer2"
                            class="radio"
                            property="sum"
                            name="sum"
                            value="{questionResult.question.value3}"
                            additionalAttributes="{data-id : 'answer3'}"
                        />
                        <label class="radio-label radio-label--career answer" for="answer3">
                            <rkw:glossary glossaryList="{glossaryList}">{questionResult.question.answer3 -> f:format.raw()}</rkw:glossary>

                            <f:comment>
                                <span class="check-indicator careercheck-icon-ok-circled"></span><br>
                            </f:comment>
                        </label>
                    </div>

                </f:else>
            </f:if>
        </div>
    </f:section>



    <f:section name="Tooltips">
        <div class="tip-box mt-2">
            <div class="tip-box__header">
                <span class="tip-box__icon"></span>
                <p class="tip-box__headline text-uppercase career-small-headline">{f:translate(key: 'partials_webcheck_showQuestionResult_answers.tip')}</p>
            </div>
            <div class="tip-box__content">
                <div class="answer" id="answer1" style="display:none">
                    <p>
                        <rkw:glossary glossaryList="{glossaryList}"><f:format.raw>{questionResult.question.result1}</f:format.raw></rkw:glossary>
                    </p>
                </div>

                <div class="answer" id="answer2" style="display:none">
                    <p>
                        <rkw:glossary glossaryList="{glossaryList}"><f:format.raw>{questionResult.question.result2}</f:format.raw></rkw:glossary>
                    </p>
                </div>

                <div class="answer" id="answer3" style="display:none">
                    <p>
                        <rkw:glossary glossaryList="{glossaryList}"><f:format.raw>{questionResult.question.result3}</f:format.raw></rkw:glossary>
                    </p>
                </div>
            </div>
        </div>

    </f:section>

</html>