<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:comment>
        <!-- does not have styling in the redesign of 2020 -->
        <f:if condition="{questionResult.question.description}">
            <f:then>
                <div class="question-overlay">
                    <div class="question-overlay__inner">
                        <span class="close close-trigger careercheck-icon-cancel-circled"></span>
                        <h2>
                            {f:translate(key: 'partials_webcheck_showQuestionResult_question.descriptionOfQuestion')}
                        </h2>
                        <p>{questionResult.question.description -> f:format.raw()}</p>
                        <a class="button close-trigger">
                            {f:translate(key: 'partials_webcheck_showQuestionResult_question.backToQuestion')}
                        </a>
                    </div>
                    <div class="bg"></div>
                </div>
            </f:then>
        </f:if>
    </f:comment>

    <div class="flex">
        <!-- @toDo: Empty h2 only for development. Remove! Has to fixed via CSS -->
        <h2></h2>
        <h2 class="h2 align-center"><rkw:glossary glossaryList="{glossaryList}">{questionResult.question.question}</rkw:glossary></h2>

        <f:comment>
            <!-- does not have styling in the redesign of 2020 -->
            <f:if condition="{questionResult.question.description}">
                <f:then>
                    <span class="more-info careercheck-icon-info-circled"></span>
                </f:then>
            </f:if>
        </f:comment>
    </div>
</html>