@charset "UTF-8";
/**! ==================================================
 * RKW Kompetenzzentrum – Karriere-Check 
 * ================================================== */
/**! ==================================================
 * Settings
 * ================================================== */
/**! ==================================================
 * Global Settings
 * ================================================== */
/**! ==================================================
 * Mixins
 * ================================================== */
/*
* Apply focus outline to element based on given color
*
* Defaults to focus-color if no color is specified
*/
/*
* Apply focus shadow to element based on given color
*
* Defaults to focus-color if no color is specified
* Should only be used if focusoutline() is not applicable, e.g. form elements
*/
/**! ==================================================
 * COMPONENTS/ Karriere-Check Accordion
 * reusable career accordion 
 * ================================================== */
.career-accordion {
  margin: 1em 0;
}

.career-accordion__header {
  padding: 0.5em 1em;
}

.career-accordion__item {
  background-color: #ffffff;
  border-bottom: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  cursor: pointer;
}

.career-accordion__button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  padding: 1em;
}

.career-accordion__button:hover {
  background-color: #f2f2f2;
}

.career-accordion__button:focus {
  outline: #e64415 solid 2px;
  outline-offset: 2px;
  -webkit-transition: outline 0s !important;
  transition: outline 0s !important;
}

.js-focus-visible .career-accordion__button:focus:not(.focus-visible) {
  outline: none;
}

.career-accordion__title {
  float: left;
}

.career-accordion__result {
  float: right;
}

.career-accordion__item-content {
  display: none;
  padding: 0 1em;
}

/**! ==================================================
 * COMPONENTS/Button
 * Karriere-Check Buttons
 * ================================================== */
@media only screen and (max-width: 37.5em) {
  .button-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .button-footer .btn {
    margin: 1em 0;
  }
}

/**! ==================================================
 * COMPONENTS/Formular
 * Karriere-Check Formular
 * ================================================== */
.careercheck__questions .form-answer {
  border: 2px solid #ffffff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  padding: 0;
}

.careercheck__questions .form-answer:hover {
  border-color: #666666;
}

.careercheck__questions .selected {
  border-color: #e64415;
}

.careercheck__questions .selected .answer {
  color: #e64415;
}

.tip-box {
  background-color: #ffffff;
  border-radius: 8px;
}

.tip-box__header {
  background-color: #e64415;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  padding: 0 1em;
}

.tip-box__headline {
  margin: 0;
  padding: 0.5em 0;
}

.tip-box__content {
  padding: 0 1em 0.5em;
}

.tip-box__content p {
  margin: 0;
}

/**! ==================================================
 * COMPONENTS/Graph
 * Karriere-Check Graph
 * ================================================== */
/**! ==================================================
 * COMPONENTS/ Karriere-Check Icons
 * reusable career icons
 * ================================================== */
.icon--pink {
  color: #e64415;
}

/**! ==================================================
 * COMPONENTS/Inputs
 * Karriere-Check Inputs
 * ================================================== */
.careercheck__questions {
  height: auto;
}

.careercheck__questions .form__field--career {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.careercheck__questions .form__field--career input[type="radio"] + .radio-label:before {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: unset;
}

.careercheck__questions .form__field--career .radio-label--career {
  padding: 1em 5em 1em 1em;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.careercheck__questions .form__field--career .radio-label--career:hover {
  border: 2px solid #808080;
}

@media only screen and (max-width: 30em) {
  .careercheck__questions .form__field--career .radio-label--career {
    padding: 1em 2.5em 1em 1em;
  }
}

.careercheck__questions .answer {
  margin: 0;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #333333;
}

.careercheck__questions .answer-radio {
  opacity: 0;
  visibility: hidden;
}

.careercheck__questions .radiobutton__icon {
  display: inline-block;
  position: absolute;
  right: 1em;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 1px solid #acacac;
  color: #e6e6e6;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.careercheck__questions .radiobutton__icon:after {
  content: "";
  color: #e64415;
  border-color: #808080;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}

.career-form .form__field {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

.career-form .form__field input[type="text"] {
  margin-right: 1em;
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  height: 32px;
}

@media only screen and (max-width: 30em) {
  .career-form .form__field input[type="text"] {
    margin-bottom: 1em;
  }
}

.select-section__field:first-child {
  padding-right: 0.5em;
}

.select-section__field:last-child {
  padding-left: 0.5em;
}

@media only screen and (max-width: 37.5em) {
  .select-section__field {
    margin-bottom: 1em;
  }
  .select-section__field:first-child {
    padding-right: 0;
  }
  .select-section__field:last-child {
    padding-left: 0;
  }
}

@media only screen and (max-width: 48em) {
  .select-section .select-field {
    margin: 0.5em 0;
  }
}

/**! ==================================================
 * COMPONENTS/ Karriere-Check Table
 * reusable career table
 * ================================================== */
.tpl-question,
.tpl-benchmark,
.tpl-summary {
  /*
   * jQuery Basic Table
   * Author: Jerry Low
   */
}

.tpl-question .table-wrapper,
.tpl-benchmark .table-wrapper,
.tpl-summary .table-wrapper {
  border-radius: 8px;
}

.tpl-question .table,
.tpl-benchmark .table,
.tpl-summary .table {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.tpl-question .table tr:last-child td:first-child,
.tpl-benchmark .table tr:last-child td:first-child,
.tpl-summary .table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.tpl-question .table tr:last-child td:last-child,
.tpl-benchmark .table tr:last-child td:last-child,
.tpl-summary .table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.tpl-question .table__heading,
.tpl-benchmark .table__heading,
.tpl-summary .table__heading {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5em;
  color: #505050;
}

.tpl-question .table__heading, .tpl-question .table__score, .tpl-question .table__content,
.tpl-benchmark .table__heading,
.tpl-benchmark .table__score,
.tpl-benchmark .table__content,
.tpl-summary .table__heading,
.tpl-summary .table__score,
.tpl-summary .table__content {
  text-align: center;
}

.tpl-question .table__topic, .tpl-question .table__score, .tpl-question .table__content, .tpl-question .table__date,
.tpl-benchmark .table__topic,
.tpl-benchmark .table__score,
.tpl-benchmark .table__content,
.tpl-benchmark .table__date,
.tpl-summary .table__topic,
.tpl-summary .table__score,
.tpl-summary .table__content,
.tpl-summary .table__date {
  padding: 0.5em 1em;
  /*background-color: $color-white;*/
}

.tpl-question .table__content .btn,
.tpl-benchmark .table__content .btn,
.tpl-summary .table__content .btn {
  margin: 0.5em;
}

@media only screen and (max-width: 48em) {
  .tpl-question .table__content .btn,
  .tpl-benchmark .table__content .btn,
  .tpl-summary .table__content .btn {
    margin: 0;
  }
}

.tpl-question .table__content .icon,
.tpl-benchmark .table__content .icon,
.tpl-summary .table__content .icon {
  color: #e64415;
  position: relative;
  top: 0.1em;
  margin-right: 5px;
}

.tpl-question .table__content .table-link,
.tpl-benchmark .table__content .table-link,
.tpl-summary .table__content .table-link {
  color: #e64415;
  text-transform: uppercase;
}

.tpl-question .table__content .table-link:hover,
.tpl-benchmark .table__content .table-link:hover,
.tpl-summary .table__content .table-link:hover {
  color: #e64415;
  text-decoration: underline;
}

@media only screen and (max-width: 48em) {
  .tpl-question table.bt tbody td.table__score,
  .tpl-benchmark table.bt tbody td.table__score,
  .tpl-summary table.bt tbody td.table__score {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 48em) {
  .tpl-question table.bt tbody td.table__score::before,
  .tpl-benchmark table.bt tbody td.table__score::before,
  .tpl-summary table.bt tbody td.table__score::before {
    color: #505050;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tpl-question td.table__content,
.tpl-benchmark td.table__content,
.tpl-summary td.table__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 80em) {
  .tpl-question td.table__content,
  .tpl-benchmark td.table__content,
  .tpl-summary td.table__content {
    padding: 0.5em;
  }
}

.tpl-question table.bt tfoot th::before,
.tpl-question table.bt tfoot .table__score::before,
.tpl-question table.bt tbody .table__score::before,
.tpl-question table.bt tfoot .table__content::before,
.tpl-question table.bt tbody .table__content::before,
.tpl-benchmark table.bt tfoot th::before,
.tpl-benchmark table.bt tfoot .table__score::before,
.tpl-benchmark table.bt tbody .table__score::before,
.tpl-benchmark table.bt tfoot .table__content::before,
.tpl-benchmark table.bt tbody .table__content::before,
.tpl-summary table.bt tfoot th::before,
.tpl-summary table.bt tfoot .table__score::before,
.tpl-summary table.bt tbody .table__score::before,
.tpl-summary table.bt tfoot .table__content::before,
.tpl-summary table.bt tbody .table__content::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.tpl-question table.bt tfoot th.bt-hide,
.tpl-question table.bt tfoot td.bt-hide,
.tpl-question table.bt tbody td.bt-hide,
.tpl-benchmark table.bt tfoot th.bt-hide,
.tpl-benchmark table.bt tfoot td.bt-hide,
.tpl-benchmark table.bt tbody td.bt-hide,
.tpl-summary table.bt tfoot th.bt-hide,
.tpl-summary table.bt tfoot td.bt-hide,
.tpl-summary table.bt tbody td.bt-hide {
  display: none;
}

.tpl-question table.bt tfoot th .bt-content,
.tpl-question table.bt tfoot td .bt-content,
.tpl-question table.bt tbody td .bt-content,
.tpl-benchmark table.bt tfoot th .bt-content,
.tpl-benchmark table.bt tfoot td .bt-content,
.tpl-benchmark table.bt tbody td .bt-content,
.tpl-summary table.bt tfoot th .bt-content,
.tpl-summary table.bt tfoot td .bt-content,
.tpl-summary table.bt tbody td .bt-content {
  vertical-align: top;
}

.tpl-question .bt-wrapper.active,
.tpl-benchmark .bt-wrapper.active,
.tpl-summary .bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.tpl-question table.bt.bt--no-header tfoot td::before,
.tpl-question table.bt.bt--no-header tbody td::before,
.tpl-benchmark table.bt.bt--no-header tfoot td::before,
.tpl-benchmark table.bt.bt--no-header tbody td::before,
.tpl-summary table.bt.bt--no-header tfoot td::before,
.tpl-summary table.bt.bt--no-header tbody td::before {
  display: none;
}

/**! ==================================================
 * COMPONENTS/ Karriere-Check Tiles
 * reusable career tiles 
 * ================================================== */
.career-tile {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.career-tile:hover .career-tile__title-content {
  border-bottom: 1px solid #e64415;
}

.career-tile:hover .career-tile__content .tile-text {
  color: #e64415;
  text-decoration: underline;
}

.career-tile:hover .career-tile__content .tile-text p {
  color: #808080;
}

.career-tile:hover .career-tile__footer {
  background-color: #e64415;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
}

.career-tile:hover .career-tile__footer .career-footer-icon {
  color: #ffffff;
}

.career-tile__header {
  height: auto;
}

.career-tile__title {
  padding: 0.2em 0.5em;
  line-height: 24px;
}

.career-tile__title-text {
  padding: 1em;
}

.career-tile__title-text p {
  color: #333333;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  margin: 0;
}

.career-tile__title-text p .download-info {
  display: block;
  color: #808080;
}

.career-tile__title-content {
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
}

.career-tile__content .tile-img img {
  width: 345px;
}

.career-tile .tile-text {
  padding: 0 1em;
}

.career-tile .tile-text p {
  color: #808080;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  margin: 0;
}

.career-tile__footer {
  padding: 0 1em;
}

.career-tile__footer .career-footer-icon {
  color: #e64415;
  margin-right: 0.5em;
}

.career-tile__footer .footer-text {
  margin: 0.5em 0;
}

.career-tile__link-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 0;
}

.career-tile h3.career-tile__title {
  margin: 0;
}

/**! ==================================================
 * LAYOUT/ Karriere-Check Main
 * reusable career main module
 * ================================================== */
.main .content .contentbox--career {
  padding: 1em;
  position: relative;
}

.main .content .contentbox--career .h2 {
  color: #333333;
}

@media only screen and (max-width: 48em) {
  .main .content .contentbox--career .h2--small {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .main .content .contentbox--career .h2--small {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 30em) {
  .main .content .contentbox--career .h2--infoflag-space {
    margin-top: 2em;
  }
}

.main .content .contentbox--career h3 {
  color: #808080;
}

.main .content .contentbox--gray {
  background-color: #e6e6e6;
  padding: 1em;
}

.main .content .contentbox--gray h2 {
  color: #333333;
}

.main .content .contentbox--light-gray {
  background-color: #f2f2f2;
  padding: 0;
}

.main .content .contentbox--yellow {
  background-color: #fdc500;
  padding: 1em;
}

.main .content .contentbox--border {
  border: 2px solid #e6e6e6;
  padding: 1em;
}

.main .content .contentbox--small {
  padding: 1em;
}

.main .content .contentbox .career-header__subheadline a {
  color: #e64415;
}

.main .content .contentbox .career-header__subheadline a:hover {
  text-decoration: underline;
}

.main .content .contentbox .career-description {
  padding: 1em 0;
}

.main .content .contentbox .career-description__headline {
  margin: 0;
}

.main .content .contentbox .career-description .description-text p {
  margin: 0;
}

.main .content .contentbox .info-flag {
  height: auto;
  width: auto;
  background-color: #f2f2f2;
  padding: 0.473em 1em;
}

.main .content .contentbox .info-flag--right {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: 0;
}

.main .content .contentbox .info-flag--left {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: -1em;
}

.main .content .contentbox .info-flag--results {
  padding: 3em 1em;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1em;
}

@media only screen and (max-width: 90em) {
  .main .content .contentbox .info-flag--results {
    padding: 1.5em 1em;
  }
}

@media only screen and (max-width: 30em) {
  .main .content .contentbox .info-flag--results {
    padding: 0.5em;
  }
}

.main .content .contentbox .info-flag--small-height {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5em 1em 1.5em 1em;
}

.main .content .contentbox .info-flag__headline {
  margin: 0;
}

.main .content .contentbox .info-flag__progress {
  color: #e64415;
}

.main .content .contentbox .info-flag__text {
  font-size: 64px;
  font-size: 4rem;
  font-weight: 600;
}

.main .content .contentbox .info-flag__text--pink {
  color: #e64415;
}

.main .content .contentbox .info-flag__text--good {
  color: #94c119;
  line-height: 50px;
}

.main .content .contentbox .info-flag__text--normal {
  color: #fdc500;
}

.main .career-small-headline {
  text-transform: uppercase;
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0.5em 0;
}

.main .career-small-text {
  font-size: 14px;
  font-size: 0.875rem;
}

.main .value--good {
  color: #94c119;
}

.main .value--normal {
  color: #fdc500;
}

.main .value--bad {
  color: #e41a11;
}
