<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="table-wrapper flex-container my-1 webcheck">
        <table class="table flex-basis-12 medium-breakpoint">
            <thead>
            <tr>
                <th>{f:translate(key: 'partials_webcheck_showMyCheckResults_list.date')}</th>
                <th>{f:translate(key: 'partials_webcheck_showMyCheckResults_list.checks')}</th>
                <th>{f:translate(key: 'partials_webcheck_showMyCheckResults_list.state')}</th>
                <th>{f:translate(key: 'partials_webcheck_showMyCheckResults_list.action')}</th>
                <th>{f:translate(key: 'partials_webcheck_showMyCheckResults_list.erase')}</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{checkResults}" as="checkResult">
                <tr>
                    <td class="table__topic">
                        {f:format.date(date: checkResult.crdate, format: 'd.m.Y - H:i')} Uhr
                    </td>
                    <td class="table__content">
                        {checkResult.webcheck.name}
                    </td>
                    <f:if condition="{checkResult.completed}">
                        <f:then>
                            <td class="table__content value--good">
                                {f:translate(key: 'partials_webcheck_showMyCheckResults_list.completed')}
                            </td>
                            <td class="table__content">
                                <f:link.action
                                    class="btn btn--secondary btn--small"
                                    action="showCheckResult"
                                    arguments="{checkResult :checkResult}"
                                    pageUid="{checkResult.webcheck.checkPid}"
                                    section="tx-rkwwebcheck-main"
                                    >
                                    {f:translate(key: 'partials_webcheck_showMyCheckResults_list.result')}
                                </f:link.action>
                            </td>
                        </f:then>
                        <f:else>
                            <td class="table__content value--bad">
                                {f:translate(key: 'partials_webcheck_showMyCheckResults_list.open')}
                            </td>
                            <td class="table__content">
                                <f:link.action
                                    class="btn btn--primary btn--small"
                                    action="editCheckResult"
                                    arguments="{checkResult :checkResult}"
                                    section="tx-rkwwebcheck-main"
                                >
                                    {f:translate(key: 'partials_webcheck_showMyCheckResults_list.continue')}
                                </f:link.action>
                            </td>
                        </f:else>
                    </f:if>
                    <td class="table__content">
                        <f:link.action
                            class="table-link webcheck-small-headline"
                            action="deleteCheckResult"
                            arguments="{checkResult : checkResult}"
                        >
                            <svg class="icon icon--16"><use xlink:href="#ic-trash"></use></svg>
                            {f:translate(key: 'partials_webcheck_showMyCheckResults_list.erase')}
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</html>