<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwWebcheck/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{percentageAllChecks}">
        <f:then>
            <div class="info-flag info-flag--results info-flag--left flex-basis-4">
                <h3 class="info-flag__headline">{f:translate(key: 'partials_webcheck_showBenchmark_averageAllChecks.allResultsAverage')}</h3>
                <span class="info-flag__text info-flag__text--<rkw:ratingCss percentage='{percentageAllChecks}' />">
                    <f:format.number decimals="0">{percentageAllChecks}</f:format.number>%
                </span>
            </div>
        </f:then>
        <f:else>
            <div class="info-flag info-flag--results info-flag--left flex-basis-4">
                <h3 class="info-flag__headline">{f:translate(key: 'partials_webcheck_showBenchmark_averageAllChecks.allResultsAverage')}</h3>
                <span class="info-flag__text">
                    &ndash; %
                </span>
            </div>
        </f:else>
    </f:if>

</html>
