<f:layout name="Default" />

<f:section name="content">
	<f:render partial="FlashMessages" arguments="{_all}" />

	<h1><f:translate key="templates_backend_list.headline" /></h1>
	<f:if condition="{webcheckList}">
		<f:then>
			<p>
				<f:translate key="templates_backend_list.intro1" />
				<br /><br />
			</p>
			<f:form action="list">
				<label for="webcheck">
					<f:translate key="templates_backend_list.intro2" />
				</label>
				<br />
				<f:form.select id="webcheck" name="webcheck" property="webcheck" options="{webcheckList}" optionLabelField="name" optionValueField="uid" />
				<br /><br />
				<f:form.submit value="{f:translate(key: 'templates_backend_list.proceed')}" />
			</f:form>
		</f:then>
		<f:else>
			<f:if condition="{checkResultList}">
				<f:then>
					<p>
						<f:translate key="templates_backend_list.intro10" />
					</p>
					<p>
						<f:translate key="templates_backend_list.intro11" />
					</p>
					<p>
						<f:translate key="templates_backend_list.intro12" />
					</p>
					<br /><br />
					<f:form action="result">
						<f:form.hidden name="webcheck" property="webcheck" value="{webcheck}" />
						<label for="checkResult">
							<f:translate key="templates_backend_list.check_results" />
						</label>
						<br />
						<f:form.select prependOptionLabel="{f:translate(key: 'templates_backend_list.total_data')}" prependOptionValue="0" id="checkResult" name="checkResult" property="checkResult" options="{checkResultList}" optionLabelField="humanReadableLabel" />
						<br /><br />
						<f:form.submit value="{f:translate(key: 'templates_backend_list.proceed')}" />
					</f:form>
				</f:then>
				<f:else>
					<p>
						<strong>
							<f:translate key="templates_backend_list.no_checks" />
						</strong>
					</p>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>